.mainHeader {
  height: 20%;
  /* border-width: 2px; */
  /* border-style: solid; */
  /* border-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 125px;
  margin: 40px 50px;
}
.leftHeader {
  font-size: 23px;
  font-weight: 500;
}
p {
  color: aliceblue;
}
a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
  padding-right: 29px;
}
.menuButton {
  border-radius: 50px;
  width: 120.6px;
  height: 40.449px;
  flex-shrink: 0;
  background-color: #e93a7d;
  border: none;
  color: #ffffff;
}
.menuButton:hover {
  background-color: #ffffff;
  color: #e93a7d;
}
